.header__toolbar {
    margin-top: 3%;
    margin-left: 82%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  img{
      border-radius: 10px;
  }
    .direct {
        color:white;
        margin: 0px 20px;
        padding:10px;
    }
    .dropbtn {
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    .dropbtn2 {
        color: white;
        padding: 5px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
        margin: 0px 20px;
        padding:10px;
    }
    
    .dropdown_content {
        display: none;
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    
    .dropdown_content a {
        color: rgb(255, 255, 255);
        padding: 12px 16px;
        display: block;
    }
    
    
    
    .dropdown:hover .dropdown_content {
        display: block;
    }
    
    
    svg {
        width: 20px;
    }
    .cart {
        position: relative;
        color: white;
        .cart__count {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background: red;
            right: -55%;
            top: -35%;
            span {
                color: white;
                font-size: 10px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
	select {
		height: 40px;
		background: black;
		color: white;
		outline: none;
		border-radius: 5px;
		padding: 10px 20px;
	}
}
